.footer {
    background-color: var(--solution-bg);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logo-foot {
    color: var(--main-white-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    @media screen and (min-width:1200px) {
      justify-content: left;
      font-size: 26px;
    
    }
  }
  
  .foot-text {
    color: var(--main-white-color);
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    text-align: center;
  }
  .foot-link {
    color: rgb(100%, 100%, 100%, 60%);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent);   
  }
  &:last-child {
    margin-bottom: 60px;
  }
  @media screen and (min-width:1200px) {
    justify-content: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  }
  
  .ftr {
    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
    }
    @media screen and (min-width:1200px) {
      justify-content: left;    
    }

    // display: grid;
    // gap: 60px;
    // grid-template-columns: 1fr;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
  }
  .foot-input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background: #2F303A;
    padding: 15px 16px;
    color: #afb1b8;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
      width: 450px;
    
    }
    @media screen and (min-width:1200px) {
      width: 358px;
    
    }
  }
  
  .foot-sbm {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 0;
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
    background-color: #188ce8 ;
  }
  
  
  }
  .for-send {
  //  position: relative;
   display: flex;
   justify-content: center;
   @media screen and (min-width:1200px) {
    display: inline-block;
  
  }
  }
  
  .icon-plane {
    // position: absolute;
    // top: 13px;
    // right: 28px;
    margin-left: 10px;
    margin-top: 3px;
  }
  
  .f-sub-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-left: 29px;
  
  }
  
  .foot-form {
    margin-left: auto;
    padding-top: 12px;
    @media screen and (min-width:768px) {
      margin-left: 0;
    
    }
    @media screen and (min-width:1200px) {
      margin-left: 93px;
      
    }
  }
  
  .foot-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF; 
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
      text-align: left;
    
    }
  }
  .adress {
    font-style: normal;
    margin-top: 20px;
  }
  .foot-social {
    width: 100%;
    height: 80px;
    margin-bottom: 60px;
    
    @media screen and (min-width:768px) {
      width: 206px;
      margin-left: 165px;
    }
    @media screen and (min-width:1200px) {
      margin-left: 70px;
      padding-top: 12px;
    
    }
  }
  .foot-social-tittle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media screen and (min-width:1200px) {
      text-align: left;
    
    }
  }
  .foot-card-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .foot-c-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent);
      outline-color: var(--accent);
    }
  }

  .foot-soc {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    fill: #ffffff;
  }